* {
  margin: 0;
  padding: 0;
}

$light-gray: #eff1f1;
$middle-gray: #7f7f7f;
$dark-gray: #33393f;
$dark-blue: #0086ff;
$light-blue: #41a9ff;

@mixin header1 {
  font: {
    family: 'Roboto Condensed', sans-serif;
    size: 2.5rem;
    weight: 300;
  }
  text-transform: uppercase;
}

@mixin header2 {
  font: {
    family: "Roboto Condensed", sans-serif;
    size: 2rem;
    weight: 300;
  }
  text-transform: uppercase;
}

@mixin header3 {
  font: {
    family: "Roboto Condensed", sans-serif;
    size: 1.5rem;
    weight: 300;
  }
  text-transform: uppercase;
}

@mixin prgph {
  font: {
    family: "Roboto Condensed", sans-serif;
    size: 1rem;
    weight: 300;
  }
  line-height: 2;
}

@mixin content {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

@mixin a-footer-active {
  color: $dark-blue;
}

@mixin a-footer-inactive {
  color: $light-gray;
  text-decoration: none;
}

@mixin a-regular {
  color: $light-blue;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 200px;
  justify-content: space-between;
  background-color: $light-gray;

  img {
    width: 125px;
  }

  &__nav {
    display: flex;
    width: 250px;
    justify-content: space-between;

    a {
      text-decoration: none;
      @include prgph;
      color: $middle-gray;

      &:nth-child(1) {
        color: $dark-gray;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-gray;
  padding: 4em;
  gap: 2em;

  .nav__container {
    .footer__nav {
      display: flex;
      width: 250px;
      justify-content: space-between;

      a {
        @include a-footer-active;
        @include prgph;

        &:nth-child(1) {
          @include a-footer-inactive;
        }
      }
    }
  }

  .footer__socials {
    text-align: center;

    .footer__hashtag {
      @include header2;
      color: $light-gray;
      font-size: 1.25rem;
      font-weight: 400;
      margin: 1em;
    }

    p {
      @include prgph;
      color: $light-gray;

      a {
        @include a-footer-active;
      }
    }
  }
}

